.position-class {
  background-color: #fff;
  border-top: 1px solid #d4d4d4;
  padding: 13px 9px 5px 9px;
}
.position-class h5 {
  margin: 0 0 35px 0;
}
.position-class button {
  background-color: #def8f5;
  border-radius: 20px;
  padding: 10px 23px;
  margin-right: 11px;
}
.position-class button.active {
  background-color: #12d5b5;
  color: #fff;
}
.position-class ul {
  border-top: 1px solid #d4d4d4;
  margin: 5px 0 0 0;
  padding: 0;
}
.position-class ul li {
  list-style: none;
}
.position-class ul li span {
  color: red;
  right: 10px;
  top: 20px;
}
